{% include 'head2.html' %}
<div class="container-fluid">
    <div class="row">
        {% for room in rooms%}
           <div class="col-md-3">
               <div class="card p-3 mt-3">
                   <div class="row">
                          <div class="col-md-8">
                              <div class="mt-3"><img src="../static/pic/{{room['pic']}}/" width="150" height="150"></div>
                          </div>
                          <div class="col-md-4 mt-4">
                              <div class="text-center h3">{{room['room_number']}}</div>
                          </div>
                   </div>
                   <div class="row">
                      <div class="mt-3"><strong>rate:</strong>${{room['rate']}}</div>
                      <div class="mt-3"><strong>Availability Status:</strong> {{room['availability_status']}}</div>
                      <div class="mt-3"><strong>Description:</strong> {{room['description']}}</div>
                   </div>
                   <div>
                    <form action="do_reservation2" method="post">
                       <div class="mt-3">
                           <input type="hidden" name="room_id" value="{{room['_id']}}">
                           <input type="hidden" name="expected_check_in_date" value="{{expected_check_in_date}}">
                           <input type="hidden" name="expected_check_out_date" value="{{expected_check_out_date}}">
                           <input type="submit" value="Select" class="btn btn-primary w-100">
                       </div>
                    </form>
                    </div>
               </div>
           </div>
        {% endfor %}
    </div>
</div>